/*----NAV LINK HOVER ANIMATION -----*/
// https://github.com/dcossyleon/blogdown_desiree/blob/master/assets/scss/custom.scss

.nav-link:hover {
  color: black !important;
}


/* stroke */

a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .5s;
}

a.nav-link {
  position: relative;
}

a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: #999999;
  height: 2px;
}

a.nav-link:hover:after {
  width: 70%;
}

/*----------------------------------*/


.navbar {
  height: 70px;
  background-image: transparent !important;
  background: $sta-menu-primary;
  box-shadow: none;
  font-size: 18px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 1rem;
}


html {
  scroll-behavior: smooth;
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	position: relative;
	z-index: 1030;
}

#demo {
  height: 1077px;
}

.home-section.wg-about {
	padding-top: 0;
	margin-top: -30px;
	box-shadow: 0 -50px 50px 50px #F0F3F5;
}
