.navbar {
  height: 70px;
  background-image: transparent !important;
  background: $sta-menu-primary;
  background-image: linear-gradient(to bottom, rgba(252, 252, 252, 1), rgba(252,252,252,0)) !important;
/* this is the part that takes out the shadow & the only edit */
  box-shadow: none;
  font-size: 18px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 1rem;
}

html {
  scroll-behavior: smooth;
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	position: relative;
	z-index: 1030;
}

#demo {
height: 1077px;
}
